
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
    
}
/*body{
  
 
  //width: 1920px;
   // height: 1080px;
  
}*/
.start::before{
    background-image: url("./bg.png");
    content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  filter: blur(5px);
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

.signup{
   
   
   
 display: flex;
 
  max-width: 1300px;
  max-height: 800px;
  //color: #fff;
  
  margin-top: 10em;
  margin-left: 18em;
  

   

   .signup-left{
    flex: 1;
 max-width: 600px;
 max-height: 800px;
 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     }
   }

   .signup-text{
    max-width:600px ;
    max-height: 800px;
    background-color: #ffffffaa;

    flex: 1;
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
 
  //min-width: 50%;

   h1{
    
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        
      }

      
   }
   .signup-p{
           
    font-size: 0.9rem;
    gap: 1em;
  }
   

   
   



    

.signup-form{
    display: flex;
    flex-direction: column;
    max-width: 600px ;
    max-height: 800px ;

    padding-top: 3em;
    gap: 1em;

    background-color: #ffffffaa;
    

    &__input{
        /*outline: none;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 1rem;
        background-color: white;*/
        
            padding: 10px;
            font-size: 1rem;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
          
        
    }
    

    &__button{
        border-radius: 50px;
        padding: 1rem;
        /*background-color: white;*/

        background-color: #ff7b00;
  color: #fff;
  //padding: 10px;
  font-size: 1rem;
  border: none;
  //border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 210px;
    }

    
}

.participant-info{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 1em;
    min-width: 350px;
    
   

    h2{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .participant-info__p{
        margin-bottom: 3em;
        
    }
    
 .inline{
        color: aliceblue;
        margin-bottom: 3em;

    }

    .participant-button{
        background-color: #ff7b00;
        margin-top: 12.3em;
        padding: 2em;
        border: none;
        color: white;
        font-size: 1rem;
    }

    .participant-button.disabled {
        background-color: grey; 
         cursor: not-allowed; 
         margin-top: 33em;
         
       }

    .dustbin-icon {
         background: none;
          border: none;
           font-size: 1.5rem;
            cursor: pointer;
             color:lightgrey;
              
              margin-left: 10em;
             }
}